
<h2>המועמדים לוועד המנהל של הסדנא לידע ציבורי</h2>

<h3>רשימת המועמדים</h3>

<swiper [config]='swiperConfig'>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor='let item of names'>
      <div class='top'>
        <img [src]='item.photo'>
        <div class='title'>
          <div>{{item.name}}<br/>
            <small *ngIf='item.current'>חבר/ה בוועד הנוכחי</small>
            <small *ngIf='!item.current'>מועמד/ת חדש/ה</small>
          </div>
          <a *ngIf='item.file_url && item.file_url.length > 0' [href]='item.file_url' target="_blank">קובץ מצורף</a>
        </div>
      </div>
      <div class='bottom'>
        <h4>{{item.bio}}</h4>
        <div class='question'>מה לדעתך היעדים והמדדים להצלחת הסדנא?</div>
        <h4>{{item.q1}}</h4>
        <div class='question'>
          <ng-contaner *ngIf='item.current'>
            למועמדים נוכחיים: מה תשנה/י ומה תמשיכ/י בעשייתך בוועד בשנה הקרובה?
          </ng-contaner>
          <ng-contaner *ngIf='!item.current'>
            למועמדים חדשים: מה ביכולות ובנסיון המוכח יכול לתרום ליעדים שציינת?
          </ng-contaner>
        </div>
        <h4>{{item.q2}}</h4>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>

<h3 style="text-decoration: underline; color: red">הצבעה לוועד - המערכת עדיין לא פעילה ומובאת כאן להתרשמות והיכרות</h3>

<h3>זו ההצבעה שלכם - יש לבחור עד 7 מועמדים ומועמדות (אפשר גם פחות):</h3>
<div class='option' *ngFor='let item of names'>
  <input type='checkbox' [(ngModel)]='vote[item.index]' (change)='encrypt()'>
  <label>{{item.name}}</label>
</div>

<h3>1.
  לאחר סיום הסימון - <br/>
  יש להעתיק את תוכן ההצבעה המוצפן, להדביק לתוך הודעת דואר ולשלוח לכתובת <a href='mailto:vote@hasadna.org.il'>vote@hasadna.org.il</a><br/>
יש לצרף להודעה (או לשלוח בהודעה נפרדת) צילום תעודה מזהה.
</h3>
<textarea [(ngModel)]='encrypted' readonly (click)='select($event)'></textarea>
<h3>2.
  זה המזהה הסודי של ההצבעה שלכם - באמצעותו תוכלו לוודא שהצבעתכם נקלטה ונרשמה.<br/>
  כתבו אותו בצד ואל תראו לאף אחד על מנת לשמור על חשאיות ההצבעה:
</h3>
<h2>{{randId}}</h2>

<h3>המפתח הפומבי בו מבוצעת ההצפנה</h3>
<pre>
{{public_key}}
</pre>
